header{
	padding:20px 40px;

}

	header #logo{
		height: 175px;
		display: inline-block;
		margin-right: 50px;
		vertical-align: top;
	}

	header #name-box{
		display: inline-block;
		padding-top: 15px;
	}

		#name-box h1{
			font-family: "Comic Sans MS";
			font-size: 4em;
		}
.container{
	padding-top: 50px;
	width:900px;
	min-height:900px;
}

.red{
	color: red;
}
.booking-section{
	border: 2px solid black;
	padding: 20px;
}
	
	.left{
		display: inline-block;
		border-right: 1px solid black;
		padding-right: 10px;
	}

	.left select{
		width: 150px;
		height: 30px;
	}

	.left button{
		margin-top: 20px;
		padding: 0px 30px;
	}

	.left #get-weather{
		margin-bottom: 250px;
	}

	.right{
		display: inline-block;
		width: 800px;
		vertical-align: top;
		padding: 0px 30px
	}

		.right .card{
			border: 1px solid black;
			display: inline-block;
			vertical-align: top;
			padding: 10px;
			margin: 10px;
			width: 220px;
		}

			.right .card .close{
				float: right;
				height: 25px;
				width: 25px;
				vertical-align: top;
				color: black;
			}